In [4]:
import numpy as np
import pandas as pd

import matplotlib.pyplot as plt
import seaborn as sns

In [6]:
df = pd.read_csv('Data_Hackathon.csv')

In [15]:
df.head(15)

,Unnamed: 0,Upsell,Increasing instalment,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 52,Unnamed: 53,Unnamed: 54,Unnamed: 55,Unnamed: 56,Unnamed: 57,Unnamed: 58,Unnamed: 59,Unnamed: 60,Unnamed: 61
0,NaN,Upgrade,Increasing term,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,"Sales, by month",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,Month,1/31/19,2/28/19,3/31/19,4/30/19,5/31/19,6/30/19,7/31/19,8/31/19,...,3/31/23,4/30/23,5/31/23,6/30/23,7/31/23,8/31/23,9/30/23,10/31/23,11/30/23,12/31/23
5,NaN,Volume (units),10000,"10,200","10,404","10,612","10,824","11,041","11,262","11,487",...,"26,916","27,454","28,003","28,563","29,135","29,717","30,312","30,918","31,536","32,167"

In [21]:
df.describe()

,Unnamed: 0,Upsell,Increasing instalment,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 52,Unnamed: 53,Unnamed: 54,Unnamed: 55,Unnamed: 56,Unnamed: 57,Unnamed: 58,Unnamed: 59,Unnamed: 60,Unnamed: 61
count,0,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
unique,0,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
top,NaN,Volume (units),10000,"10,200","10,404","10,612","10,824","11,041","11,262","11,487",...,"26,916","27,454","28,003","28,563","29,135","29,717","30,312","30,918","31,536","32,167"
freq,NaN,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1

In [12]:
df.isnull().sum()

Unnamed: 0               5
Upsell                   3
Increasing instalment    3
Unnamed: 3               4
Unnamed: 4               4
                        ..
Unnamed: 57              4
Unnamed: 58              4
Unnamed: 59              4
Unnamed: 60              4
Unnamed: 61              4
Length: 62, dtype: int64

In [13]:
df.dtypes

Unnamed: 0               object
Upsell                   object
Increasing instalment    object
Unnamed: 3               object
Unnamed: 4               object
                          ...
Unnamed: 57              object
Unnamed: 58              object
Unnamed: 59              object
Unnamed: 60              object
Unnamed: 61              object
Length: 62, dtype: object

In [17]:
# dropping unnecessary rows and resetting the index
df = df.drop([0, 1, 2, 3, 4]).reset_index(drop=True)

In [19]:
# converting date formats into the appropriate data type
date_columns = df.columns[3:]
df[date_columns] = df[date_columns].apply(pd.to_datetime, format='%m/%d/%y')

ValueError: time data "10,200" doesn't match format "%m/%d/%y", at position 0. You might want to try:
    - passing `format` if your strings have a consistent format;
    - passing `format='ISO8601'` if your strings are all ISO8601 but not necessarily in exactly the same format;
    - passing `format='mixed'`, and the format will be inferred for each element individually. You might want to use `dayfirst` alongside this.